body {
    font-family: 'Gentium Book Basic', serif;
    max-width: 1200px;
    margin: auto;
    background-color: #F8F9FA;
}

main {
    display: grid;
    grid-template-columns: 3fr 50%;
    font-size: 27px;
    text-align: center;
    margin-top: 80px;
}

.top {
  margin-bottom: 40px;
  font-size: 27px;
}
.navbar-brand {
    font-size: 27px;
}

h1 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

.tourism li {
    display: inline-block;
    margin-top: 25px;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 5px;
}

.tourism a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
}

.home {
    width: 50px;
    height: 50px;
    margin: 15px;
}

.destiny li {
    display: inline-block;
    margin-left: 100px;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 65px;
}

.destiny a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

.information a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    font-style: italic;
}

main img {
    width: 100%;
}

main article {
    width: 80%;
    margin: auto;
}

footer li {
    display: inline-block;
    margin-left: 80px;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 65px;
    
}
footer a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}
.contacts {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.contacts .left-side {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.contacts .left-side a {
    margin-right: 40px;
}

.contacts .right-side {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
 }

.contacts p {
  text-align: center;
  font-size: 35px;
}

footer .copy {
    text-align: right;
    margin-top: 50px;
    font-weight: bold;
}





      
